<div class="container">

    @if (cartService.alertMessage) {
    <div class="alert alert-{{ cartService.alertType }} alert-dismissible fade show text-center" role="alert">
        {{ cartService.alertMessage }}
        <button type="button" class="btn-close" aria-label="Close" (click)="cartService.alertMessage = ''"></button>
    </div>
    }

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center w-75">
            <label for="search" class="form-label mb-2 fs-5">Könyv Keresése</label>
            <div class="input-group mb-3 w-75">
                <input type="text" id="search" class="form-control form-control-lg" placeholder="Cím vagy szerző..."
                    (input)="onSearch($event)">
                <button class="btn btn-primary" type="button">
                    <i class="bi bi-search me-3 ms-3"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Cím</th>
                <th>Szerző</th>
                <th class="text-center">Raktáron</th>
                <th class="text-center">Kosárba</th>
            </tr>
        </thead>
        <tbody>
            @for (book of (filteredBooks$ | async); track book.id) {
            <tr [ngClass]="{ 
    'table-success': book.borrowed, 
    'table-warning': book.requested,
    'table-danger': !book.available && !book.borrowed && !book.requested
}">
                <td>{{ $index + 1 }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td class="text-center">
                    @if (book.available) {
                    <i style="color:green;" class="bi bi-check-lg"></i>
                    } @else {
                    <i style="color:red;" class="bi bi-x-circle"></i>
                    }
                </td>
                <td class="text-center">
                    @if (book.borrowed) {
                    <span class="text-dark fw-bold">Kikölcsönözve</span>
                    }
                    @else if (book.requested) {
                    <span class="text-dark fw-bold">Előjegyezve</span>
                    }
                    @else if (book.available) {
                    <button class="btn btn-success" (click)="addToCart(book)" title="Kosárba">
                        <i class="bi bi-cart"></i>
                    </button>
                    }
                    @else {
                    <button class="btn btn-warning" title="Rendeld elő" data-bs-toggle="modal"
                        data-bs-target="#requestModal" (click)="openRequestModal(book)">
                        <i class="bi bi-clock-history me-1"></i>
                    </button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>

<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content border-0 shadow-lg">

            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="modal-title">
                    <i class="bi bi-clock-history me-2"></i>Előjegyzi az alábbi könyvet?
                </h5>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <p class="text-muted mt-2">
                    <strong>{{toBeRequestedBook?.title}}</strong>
                    <small class="d-block">{{toBeRequestedBook?.author}}</small>
                </p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" data-bs-dismiss="modal" (click)="confirmRequest()">
                    Előjegyzés
                </button>
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Mégse
                </button>
            </div>
        </div>
    </div>
</div>