<div class="container mt-4">
    @if (myBooks.length > 0) {
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Cím</th>
                <th>Szerző</th>
                <th>Kölcsönzés kezdete</th>
                <th>Kölcsönzés lejárta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (book of myBooks; track $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.borrowedDate | date: 'yyyy.MM.dd.' }}</td>
                <td>
                    {{ book.expirationDate | date: 'yyyy.MM.dd.' }}
                    @if (isExpired(book.expirationDate)) {
                    <span class="badge bg-danger ms-2">Lejárt</span>
                    }
                </td>
                <td><button class="btn btn-primary fw-bold me-3">Hosszabítás</button><button
                        class="btn btn-outline-danger fw-bold" (click)="removeFromMyBooks($index)">Lemondás</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    } @else {
    <h4 class="text-muted text-center">Nincsenek kölcsönzött könyveid</h4>
    }
</div>