<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 link-dark">Home</a></li>
            <li><a class="nav-link px-2 link-dark">Könyveim</a></li>
            <li><a class="nav-link px-2 link-dark">Foglalásaim/Kérések</a></li>
            <li><a class="nav-link px-2 link-dark">Katalógus</a></li>
            <li><a class="nav-link px-2 link-dark">Kapcsolat</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <span class="me-3">
                {{ loggedUserName ? 'Üdvözöllek, ' + loggedUserName : '' }}
            </span>
            <button class="btn btn-danger" (click)="onLogout()">Kijelentkezés</button>
        </div>
    </header>
</div>

<router-outlet></router-outlet>