<div class="container">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Cím</th>
                <th>Szerző</th>
                <th>Előjegyzés dátuma</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <td>1</td>
                <td>A Gyűrűk Ura: A Király visszatér</td>
                <td>J.R.R Tolkien</td>
                <td>2025-11-15</td>
                <td><button class="btn btn-success fw-bold me-3">Kölcsönzés</button><button
                        class="btn btn-outline-danger fw-bold me-3">Lemondás</button><span
                        class="text-success fw-bold">Elérhető</span></td>
            </tr>
            <tr>
                <td>2</td>
                <td>A Hobbit: Váratlan Utazás</td>
                <td>J.R.R Tolkien</td>
                <td>2025-11-15</td>
                <td><button class="btn btn-success fw-bold me-3 disabled">Kölcsönzés</button><button
                        class="btn btn-outline-danger fw-bold">Lemondás</button></td>
            </tr>
        </tbody>
    </table>
</div>