<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <form class="d-flex flex-column align-items-center w-75">
            <label for="search" class="form-label mb-2 fs-5">Könyv Keresése</label>
            <div class="input-group mb-3 w-75">
                <input type="text" id="search" class="form-control form-control-lg" placeholder="Cím...">
                <button class="btn btn-primary"><i class="bi bi-search me-3 ms-3"></i></button>
            </div>
        </form>
    </div>
</div>